.main{
    background-color: #1D1D1D;
    height: 120vh;
    color: bisque;
  

}

.main-intro{
    display: flex;
    align-items: center;
    height: 50vh;
    justify-content: center;

    
}
.left-intro{
    border-right: 1px solid #ccc; 
    height:150px; 
    margin: 0 10px; 
}
.left-intro,.right-intro{
    flex: 1;
}
