
.nav-item{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-evenly;
}

.main-logo{
    display: flex;
    align-items: center;
}
.lists{
    display: flex;
    gap: 45px;
    font-size: 20px;
}
.contact-btn{
    display: flex;
    align-items: center;
}
.btn{
    border: 2px solid rgb(243, 235, 235);
    background-color: rgb(10, 10, 10);
    color: rgb(233, 225, 225);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
